body {
    background-color: #706e6e;
}

ul.header { 
    background-image: url("PageBanner.png");
    background-size: 100%;
    list-style: none;
    border-style: solid;
    border-color: black;
    width:1250px;
    height:125px;


}

li.home {
         color: #000000; 
         font-size: 30px;
         margin-left: 23%;
        margin-top:47.5px;
        float:right;
}

li.form {
    color: #000000; 
    font-size: 30px;
    margin-right:20%;
    margin-left:1%;
    margin-top:47.5px;
    float:right;
}

p {
    background-color: dodgerblue; 
    border-style: solid;
    border-color: black; 
}