body {
    background-color: #302f2f;
}

ul.header { 
    background-image: url("PageBanner.png");
    background-size: 35%;
    list-style: none;
    margin-bottom: ;
    

}


h1 {
    border-style: solid;
    background-color: dodgerblue;
    margin-right: 87%;
    font-size: 78;
}

li.home {
         color: #000000; 
         font-size: 36;
         margin-left: 23%;
}

li.form {
    margin-left: 23%;
}

p {
    background-color: dodgerblue; 
    border-style: solid;
    border-color: black;
    font-size: 46; 
    margin-right: 25%;
    
}

ul.bottom_bar {
    list-style: none;
    margin-right: 30%;
}

ul.socials {
    background-color: dodgerblue; 
    border-style: solid;
    border-color: black;
    font-size: ; 
    list-style: none;
    float: left;
    
}

ul.contact {
    list-style: none;
    background-color: dodgerblue; 
    border-style: solid;
    border-color: black;
    font-size: ; 
    float: left;
    margin-left: 5%;
}

ul.links {
    list-style: none;
    background-color: dodgerblue; 
    border-style: solid;
    border-color: black;
    font-size: ; 
    float: left;
    margin-left: 5%;
}

li {
    margin-left: 10%;
}

h3 {
    margin-right: 10%;
}

input {
    background-color: dodgerblue; 

/*
    border-style: solid;
    border-color: black;
*/
=======

}

lable {
    background-color: dodgerblue; 
}

 {
   background-color: dodgerblue; 
   border-style: solid;
   border-color: black;
}
