img{
    width: 10;
    height: 10;
}
h1 {
    text-align: center;
    color: white;
    margin-top: 10px;
    margin: auto;
    border: 10px solid #181818;
    padding-top: 0px;
    background: #181818;
    font-family: sans-serif;
}
body {
    color: black;
    font-size: 200%;
    background-color: #505050;
    text-align: center;
}