body{
    background-color: gray;
}

button{
     
}

p{
    background-color: lightblue;
    border-style: solid;
    margin-right: 50%;
    
}

h1{
    background-color: lightblue;
    border-style: solid;
    margin-right: 65%;
}