body{
    background-image: url(dr%20phill.jpg)
}

.text{
    background-color: forestgreen;
    font-size: 50px;
    margin-left: 200px;
    margin-right: 200px;
   
}



.button{
     
}

.p1{
    font-size: 50;
    
}

.h1{
    background-color: lightblue;
    border-style: solid;
    margin-right: 65%;
}

.navbar {
  width: 100%;
  background-color: forestgreen;
  overflow: auto;
}

.navbar a {
  float: left;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
    
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}